

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url('bg2.jpg');
}
.kotak {
    border: 1px solid black;
    background-color: white;
    width: 90%;
    height: 100%;
    margin: 0px auto 0px auto ;
}
.kepala:hover{
    background-image: url('bg6.jpg');
}
.kepala { 
    border: 1px solid black;
     background-image: url('bg5.jpg');   
    width: 100%;
    text-align: center;
      height: 150px;   
    padding: 100px 0px 100px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
.konten {
    border: 1px solid black;
    background-color: white;
    width: 80%;
    height: 700px;
    float: left;
    margin: 5px;
}
.menu {
    border: 1px solid black;
    background-color: white;
    width: 19%;
    height: 700px;
    float: right;
}
.kaki {
    border: 1px solid black;
    background-color: white; 
    background-color:rgb(223, 224, 224);
    width: 100%;
    text-align: center;
    clear: both;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    display: block;
    width: 60px;
    background-color: #dddddd;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }